.resume{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    width: 100%;
    height: 100vh;
   
    background-color : #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);

}



.resumeInfo{
    grid-row: 3/11;
    grid-column: 3/11;
    width: 100%;
    height: 102% !important;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    padding: 10px;
    margin-left: 20px;
}

.resume .heading-1 {
    color: white;
}

.informationDropDownList{
    grid-row: 2/12;
    grid-column: 2/6;
    margin-top: 10px;
}

.skills{
    height: 110% !important;
    grid-row: 2/12;
    grid-column: 7/12;
}

.MuiPaper-root {
    height: 10%;
    z-index: 4;
}

.resumeInfo a {
    text-decoration: none;
    color: #E6F6FE;
    background-color:  #065A82;
    padding: 5px 15px;
    border-radius: 5px;
    width: 100%;
    grid-row: 10/11;
    grid-column: 2/6;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:910px){
    
    .skills{
        height: 100% !important;
        
    }
}

@media only screen and (max-width:910px){
    .skills{
        display: none;
    }
    .informationDropDownList{
        grid-row: 2/12;
        grid-column: 2/12;
        margin-top: 10px;
    }

    
.resumeInfo a {
    grid-row: 10/11;
    grid-column: 2/12;
}
}
