.about{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    width: 100%;
    height: 100vh;
}

.sectionNumbers{
    grid-row: 11/13;
    grid-column: 12/13;
    color : #065A82;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}




.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.rightSide{
    grid-row: 1/13;
    grid-column: 8/13;
    background-color: rgb(153, 226, 255);
    width: 100%;
    height: 100%;
}

.rightSide p {
    width: 65%;
    margin-left: 100px;
    margin-top: 45px;
    font-size: 18px;
    position: relative;
    
    z-index: 1;
}

.rightSide p::before{
    content: "";
    position: absolute;
    top: 280px;
    left: 20px;
    width: 200px;
    height: 200px;
    border: 10px solid rgb(163, 163, 163);
    z-index: -1;
}

.rightSide p::after{
    content: "";
    position: absolute;
    top: 300px;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #fff;
    z-index: -1;
}



@media only screen and (max-width:1400px){
    .rightSide p {
        width: 60%;
    }
}
@media only screen and (max-width:1200px){

    .rightSide p::before{
 
        width: 160px;
        height: 160px;
        
    }
    
    .rightSide p::after{
        width: 160px;
        height: 160px;
        
    }

    .rightSide p {
       font-size: 17px;
       width: 50%;
    }
}
@media only screen and (max-width:1040px){
    .rightSide{
        grid-row: 1/13;
        grid-column: 7/13;
    }
}

@media only screen and (max-width:860px){

    .rightSide p::before{
 
      top: 180px;
      width: 140px;
      height: 140px;
    }
    
    .rightSide p::after{
        top: 200px;
        width: 140px;
        height: 140px;
    }

    .rightSide{
        grid-row: 1/13;
        grid-column: 2/13;
    }

    .rightSide p {
        font-size: 17px;
        width: 65%;
        
     }
    
}
@media only screen and (max-width:700px){
    .rightSide p::before{
 
        top: 180px;
          
      }
      
      .rightSide p::after{
          top: 200px;
          
      }
  
      .rightSide{
          grid-row: 1/13;
          grid-column: 2/13;
      }
  
      .rightSide p {
          font-size: 18px;
          width: 70%;
          
       }
}
@media only screen and (max-width:590px){
    .rightSide p::before{
        top: 200px;
      }
      
      .rightSide p::after{
          top: 220px;
          
      }
  
      .rightSide p {
          font-size: 16px;
          width: 60%;
          
       }

       .rightSide .aboutMe {
           font: 15px;
       }
}
@media only screen and (max-width:500px){
      .rightSide p::before{
        display: none;
      }
      
      .rightSide p::after{
         display: none;
          
      }

      .rightSide{
        grid-row: 1/13;
        grid-column: 1/13;
    }
}
@media only screen and (max-width:400px){
    .rightSide p {
        width: 55%;
    }
}


